.form_padrao{
    border-style: solid;
    box-sizing: 12px;
    border-radius: 5px;
    border-color: #1e75a0;
}
form{
    align-items: center;
    margin: 0px 300px;
}

.espaçamento{
    margin: 15px;
}

#titulo-ração{
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

p{
    font-weight: 400;
}