ul.pagination li{
    display: inline;
}

ul.pagination li a{
    color: black;
    float:left;
    padding: 8px 16px;
    text-decoration: none;
}

.active{
    background-color: white;
    color: black;
}

ul.pagination li a:hover:not(.active){
    background-color: #ddd;
}